body{
    font-size:14px;
    color:#333;
    font-family:'微软雅黑';
}
a{
    color:#333;
}
a:hover{
    color:#333;
    text-decoration: none;
}
@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: 'webfont';
    src: url('../font/webfont.eot'); /* IE9*/
    src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font{
    font-family:"webfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.font_title{
    font-size:30px;
    color:#000;
}
.iconfont_phone::before{
    content:'\e602';
}
.iconfont_arr::before{
    content:'\e62d';
}
.iconfont_tel::before{
    content:'\e64c';
}
.iconfont_adobe::before{
    content:'\e6cc';
}
.iconfont_adobe{
    font-size:40px;
    color:#e92322;
}
.iconfont_clip::before{
    content:'\e603';
}
.iconfont_clip{
    font-size:30px;
}
.iconfont_photo::before{
    content:'\e612';
}
.iconfont_clock::before{
    content:'\e614';
}

.iconfont_partner1::before{
    content:'\e636';
}
.iconfont_partner2::before{
    content:'\e606';
}

.iconfont_partner3::before{
    content:'\e6f7';
}
.iconfont_partner4::before{
    content:'\e60c';
}
.iconfont_partner5::before{
    content:'\e643';
}
.iconfont_partner6::before{
    content:'\e72c';
}
.iconfont_partner7::before{
    content:'\e691';
}
.topBar{
    /*border-top:1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
    font-size:12px;
}
.topBar > .container > .row > div {
    height:40px;
    line-height:40px;
    text-align:center;
}
.topBar > .container > .row > div ~ div{
    border-left: 1px solid #ccc;
}
.topBar .btn_reg {
    display:inline-block;
    padding:3px 15px;
    background-color:#e92322;
    font-size:12px;
    color:#fff;
    border:none;
}
.topBar .btn_login{
    color:#333;
    text-decoration:none;
    font-size:12px;
}
.topBar .btn_login:hover{
    color:#333;
    text-decoration:none;
}
.gold_nav {
    background-color: #fff;
    border-bottom:1px solid #cccccc;
    border-top:none;
    margin-bottom:0;
}
.gold_nav .navbar-brand {
    height:80px;
    line-height:50px;
    color: #777;
}
.gold_nav .navbar-brand:hover,
.gold_nav .navbar-brand:focus {
    color:#333;
}
.gold_nav .navbar-text {
    color: #333;
}
.gold_nav .navbar-nav > li > a {
    height:80px;
    line-height:50px;
    color: #333;
}
.gold_nav .navbar-nav > li > a:hover,
.gold_nav .navbar-nav > li > a:focus {
    color: #333;
    background: #fff;
    border-bottom:3px solid #e92322;
}
.gold_nav .navbar-nav > .active > a,
.gold_nav .navbar-nav > .active > a:hover,
.gold_nav .navbar-nav > .active > a:focus {
    color:#333;
    background: #fff;
    border-bottom:3px solid #e92322;
}
.gold_nav .navbar-nav > .disabled > a,
.gold_nav .navbar-nav > .disabled > a:hover,
.gold_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    border-bottom:3px solid #e92322;
}
.gold_nav .navbar-toggle {
    margin-top:20px;
    border-color: #ddd;
}
.gold_nav .navbar-toggle:hover,
.gold_nav .navbar-toggle:focus {
    background-color: #ddd;
}
.gold_nav .navbar-toggle .icon-bar {
    background-color: #888;
}
.gold_nav .navbar-collapse,
.gold_nav .navbar-form {
    border-color: #e7e7e7;
}
.gold_nav .navbar-nav > .open > a,
.gold_nav .navbar-nav > .open > a:hover,
.gold_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .gold_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .gold_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .gold_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .gold_nav .navbar-nav .open .dropdown-menu > .active > a,
    .gold_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .gold_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .gold_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .gold_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .gold_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.gold_nav .navbar-link {
    color: #777;
}
.gold_nav .navbar-link:hover {
    color: #333;
}
.gold_nav .btn-link {
    color: #777;
}
.gold_nav .btn-link:hover,
.gold_nav .btn-link:focus {
    color: #333;
}
.gold_nav .btn-link[disabled]:hover,
fieldset[disabled] .gold_nav .btn-link:hover,
.gold_nav .btn-link[disabled]:focus,
fieldset[disabled] .gold_nav .btn-link:focus {
    color: #ccc;
}
.gold_banner .img_box{
    width:100%;
    display:block;
    height:400px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;;
}
.gold_banner .img_box img{
    width:100%;
    display:block; 
} 
.wjs_banner .pc_imgBox{
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wjs_banner .m_imgBox{
    display:block;
    width:100%;
}
.wjs_banner .m_imgBox img{
    display: block;
    width: 100%;
} 
.gold_pay{
    padding:15px 0;
    border-bottom:1px solid #cccccc;
    font-size:12px;
}
.gold_pay .container {
    width:900px;
}
.gold_pay .gold_info{
    display: block;
    padding:10px 0;
}
.gold_pay .gold_info:hover{
    color:#e92322;
}
@media (min-width:768px) and (max-width:992px){
    .gold_pay .container{
        width:750px;
    }
}
.gold_order{
    width:100%;
    padding:40px 0;
    border-bottom:1px solid #cccccc;
}
.gold_order .container{
   
}
.gold_order .gold_now{
    color:#e92322;
    border-bottom:1px dashed #e92322;
}
.gold_platform{
    padding:40px 0;
    background: #F5F5F5;
}
.gold_platform .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.gold_platform .nav-tabs > li {
    float: left;
    margin-bottom: 0px;
}
.gold_platform .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
    border:none;
}
.gold_platform .nav-tabs > li > a:hover {
    background: #f5f5f5;
}
.gold_platform .nav-tabs > li.active > a,
.gold_platform .nav-tabs > li.active > a:hover,
.gold_platform .nav-tabs > li.active > a:focus {
    color: #333;
    cursor: default;
    background-color: #F5F5F5;
    border:none;
}
.gold_platform .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.gold_platform .nav-tabs.nav-justified > li {
    float: none;
}
.gold_platform .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.gold_platform .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .gold_platform .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .gold_platform .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.gold_platform .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.gold_platform .nav-tabs.nav-justified > .active > a,
.gold_platform .nav-tabs.nav-justified > .active > a:hover,
.gold_platform .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .gold_platform .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .gold_platform .nav-tabs.nav-justified > .active > a,
    .gold_platform .nav-tabs.nav-justified > .active > a:hover,
    .gold_platform .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}
.gold_platform .gold_attention { }
.gold_platform .gold_attention .gold_greenHand {
    display: block;
    background: #fff;
    margin-top:20px;
    box-shadow:5px 5px 10px #ccc;
    position:relative;
}
.gold_platform .gold_attention .active {
    background: #e92322;
    color:#fff;
 }
.gold_platform .gold_attention .active .green_right{
    color:#fff;
}
.gold_platform .gold_attention .green_right{
    width:80px;
    float:right;
    height:150px;
    text-align:center;
    vertical-align: middle;
    color:#e92322;
    border-left:1px dashed #ccc;
    position:relative;
}
.gold_platform .gold_attention .green_right::before,
.gold_platform .gold_attention .green_right::after{
    content:'';
    position:absolute;
    width:12px;
    height: 12px;
    border-radius:50%;
    background: #f5f5f5;
    left:-6px;
    top:-6px;
    box-shadow:0px -2px 2px #ccc inset;
}
.gold_platform .gold_attention .green_right::after{
    top:150px;
    box-shadow:0px 2px 2px #ccc inset;
}
.gold_platform .gold_attention .green_right p:nth-of-type(1){
    margin-top:20px;
}
.gold_platform .gold_attention .green_right b{
    font-size:50px;
}
.gold_platform .gold_attention .green_right .btn_top,
.gold_platform .gold_attention .green_right .btn_bottom{
    display:inline-block;
    /*width:10px;*/
    /*height:10px;*/
    border:1px solid #e92322;
    position:absolute;
    top:10px;
}
.gold_platform .gold_attention .green_right .btn_bottom{
    left:20px;
    color:green;
    border:1px solid green;
}
.gold_platform .gold_attention .green_left{
    overflow: hidden;
}
.gold_platform .gold_attention .green_left h3{
    text-align: center;
    font-size:16px;
}
.gold_platform .gold_attention .green_left p{
    font-size:12px;
}
.gold_platform .gold_attention .green_left .text-right{
    float:right;
}
.gold_news .nav-tabs {
    margin-top:40px;
    border:none;
}
.gold_news .nav-tabs > li {
    float: left;
    margin-bottom: 30px;
}
.gold_news .nav-tabs > li > a {
    margin-right: 0px;
    line-height: 1.42857143;
    border:1px solid #ccc;
    border-radius:50%;
    width:50px;
    height:50px;
    text-align: center;
}
.gold_news .nav-tabs > li > a:hover {
    background: #fff;
}
.gold_news .nav-tabs > li.active > a,
.gold_news .nav-tabs > li.active > a:hover,
.gold_news .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #e92322;
    border:none;
    border-bottom-color: transparent;
}
.gold_news .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.gold_news .nav-tabs.nav-justified > li {
    float: none;
}
.gold_news .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.gold_news .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .gold_news .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .gold_news .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.gold_news .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.gold_news .nav-tabs.nav-justified > .active > a,
.gold_news .nav-tabs.nav-justified > .active > a:hover,
.gold_news .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .gold_news .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .gold_news .nav-tabs.nav-justified > .active > a,
    .gold_news .nav-tabs.nav-justified > .active > a:hover,
    .gold_news .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}
.gold_news{
    padding:50px 0;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
}
.gold_news .container{

}
.gold_news .news_title{
    font-weight: normal;
    font-size:20px;
    padding:10px 0;
    text-align: center;
    border-bottom:1px solid #cccccc;
}


.gold_news .circle{
    position:absolute;
    width:6px;
    height:6px;
    border-radius:50%;
    border:1px solid #cccccc;
    right:10px;
    bottom:8px;
}
.gold_news .new_body{
    margin-left:0px;
    text-align:center;
}
.gold_news .new_body p{
    margin:30px 0;
}
.gold_news .new_body p a{
    color:#666;
}
@media (min-width:768px) and (max-width:992px){
    .gold_news {
        width: 100%;
    }
    .gold_news .nav-tabs li{
        width:25%;
    }
    .gold_news .nav-tabs li a{
        margin:0 20px;
    }
}
@media (max-width:768px) {
    .gold_news {
        width: 100%;
    }
    .gold_news .nav-tabs li{
        width:25%;
    }
    .gold_news .nav-tabs li a{
        margin:0 20px;
    }
}
.gold_partner{
    padding:50px 0;
    text-align:center;
}
.gold_partner {
    padding:50px 0 ;
}
.gold_partner ul {
    text-align: center;
    list-style:none;
    padding:0;
}
.gold_partner .container li {
    display: inline-block;
}
.gold_partner .container li a{
    display:block;
    font-size:40px;
    margin-left:50px;
}







































