@charset "utf-8";
.float {
  float: right;
  width: 50px;
}
.box {
  float: right;
}
.topBar {
  /*border-top:1px solid #ccc;*/
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}
.topBar img {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.topBar:hover img {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.topBar > div {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.topBar > div > li {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
